.estilo-caja-logo{
    float:left;
    width: 15%;
    height: 200px
    }
    
    body{
    font-family:Arial, Helvetica, sans-serif;
    }
    
    h2{
    font-family: Arial, Helvetica, sans-serif;
    }
    .color2{
    color:crimson
    }
    


#menu{
    text-align:center;
 }

 li{
    display:inline-table;
    width: 140px;
    height: 20px;
    background-color: crimson;
    padding-top: 5px;
 }

 li a{
    text-decoration: none;
    line-height: 10px;
    color:white
 }

 li a:hover{
    color:chartreuse
 }

.formulario{
    width: 40%;
    background-color:white;
    margin-left: 30%;
    margin-right: 30%;
    text-align: left;
}

label{
    display:inline-block;
    padding-left: 5%;
    width: 30%;
}

input, select {
    width: 58%;
}

.boton_guardar{
    width: 32%;
    height: 30px;
 
    background-color:crimson;
    color:white;
    border-color: crimson;
}

.boton_guardar:hover{
    color:chartreuse;
}

/*XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX        tabla              XxXXXXXXXXXXXXXXXXXXXXXXXXXXX*/

table{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

table, th, tr, td{
    border: 1px solid #000;

}